<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<remove name="entityFramework"/>
		<remove name="singleSignOn"/>
		<remove name="log4net"/>
	</configSections>
	<connectionStrings>
		<clear/>
	</connectionStrings>
	<appSettings>
		<clear/>
	</appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="PSSIMSessionControl"/>
		  <remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="TicketReceiver"/>
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<remove name="WebDAV" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		</handlers>
		<staticContent>
			<remove fileExtension=".json"/>
			<remove fileExtension=".woff"/>
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".woff" mimeType="font/woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
	</system.webServer>
	<system.web>
		<membership>
			<clear/>
		</membership>
		<siteMap>
			<clear/>
		</siteMap>
		<customErrors mode="Off" />
	</system.web>
	<runtime>
		<clear/>
	</runtime>
</configuration>