<div id="content" class="content-site  container clearfix">
    <div class="row">
        <div id="main" class="col-md-12 clearfix" role="main">
            <h3>{{titulo}}</h3>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-6">
                            <p> Mostrar:</p>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control">
                                <option value="opcion1">5</option>
                                <option value="opcion2">10</option>
                                <option value="opcion3">50</option>
                                <option value="opcion4">Todos</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4">
                                <p> Asunto:</p>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="para" placeholder=" ">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4">
                                <p> Fecha:</p>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="para" placeholder=" ">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4">
                                <p> Usuario:</p>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option value="opcion1">Opcion 1</option>
                                    <option value="opcion2">Opcion 2</option>
                                    <option value="opcion3">Opcion 3</option>
                                    <option value="opcion4">Opcion 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary" href=""><span style="color: white" class="glyphicon glyphicon-search"></span> Buscar</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="table-responsive horizontal-scroll">
                            <table class="table  table-bordered  dataTable no-footers">
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th>Asunto</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="radio" name="optradio"></td>
                                        <td>Respuesta Subsidio Arriendo 2016</td>
                                        <td>10/07/2016 12:00</td>
                                        <td>Luis Alberto</td>

                                        <td>
                                            <!--ver-->
                                            <a data-toggle="modal" title="Enviar a Extinción" href="#previsualizar"> <i class="glyphicon glyphicon-eye-open"></i> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="optradio"></td>
                                        <td>Respuesta Subsidio Arriendo 2016</td>
                                        <td>10/07/2016 12:00</td>
                                        <td>Luis Alberto</td>

                                        <td>
                                            <!--ver-->
                                            <a data-toggle="modal" title="Enviar a Extinción" href="#previsualizar"> <i class="glyphicon glyphicon-eye-open"></i> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="optradio"></td>
                                        <td>Subsidio-DS1 II-2015</td>
                                        <td>1/05/2016 7:00</td>
                                        <td>fcatalan</td>

                                        <td>
                                            <!--ver-->
                                            <a data-toggle="modal" title="Enviar a Extinción" href="#previsualizar"> <i class="glyphicon glyphicon-eye-open"></i> </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-5">
                        <a class="btn btn-primary" data-toggle="modal" href="#confirmar"><span class="glyphicon glyphicon-check"></span> Utilizar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin de .main -->
</div>