<div id="content" class="content-site  container clearfix">

    <div class="row">
        <div id="main" class="col-md-12 clearfix" role="main">
            <h1>Envío de Correos</h1>
            <p> Mensaje Nuevo:</p>

            <div class="col-md-12">
                <!-- Form test -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-6"> </div>
                        <div class="col-sm-6" align="right">

                            <div class="col-sm-4">
                                <a class="btn btn-default"  routerLink="/enviocorreo"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
                            </div>
                            <div class="col-sm-4">

                                <a class="btn btn-default" data-toggle="modal" title="Fuente de Datos" href="#fuentedatos"><span class="glyphicon glyphicon-folder-open"></span> Fuente de Datos</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-default" data-toggle="modal" title="Fuente de Datos" href="#enviar"><span class="glyphicon glyphicon-send"></span> Enviar</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">De: </label>
                        <div class="col-sm-10">
                            subsidio.arriendo@minvu.gob.cl
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputApellido" class="col-sm-2 control-label">Para (*)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="para" placeholder=" ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputApellido" class="col-sm-2 control-label">Cc </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="para" placeholder=" ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputApellido" class="col-sm-2 control-label">Cco</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="para" placeholder=" ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputApellido" class="col-sm-2 control-label">Asunto (*)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="para" placeholder=" ">

                  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputApellido" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <textarea rows="4" class="form-control" cols="50"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputApellido" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" name="adjunto" type="file" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-6"> </div>
                        <div class="col-sm-6" align="right">
                            <div class="col-sm-5">
                                <a class="btn btn-default" data-toggle="modal" href="#previsualizar"><span class="glyphicon glyphicon-eye-open"></span> Previsualizar</a>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn btn-default" data-toggle="modal" href="#enviar"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-default" data-toggle="modal" title="Enviar" href="#enviar"><span class="glyphicon glyphicon-send"></span> Enviar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <a class="btn btn-default" href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span> Top</a>
            <br />
        </div>
    </div>
    <!-- fin de .main -->
</div>